body {
    margin: 0;
    background-color: rgb(198, 237, 255);
    background: url('image.jpg');
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(0, 0, 0);

}

html {
    scroll-behavior: smooth;
}

.topnav {
    overflow: hidden;
    background-color: #2e65fa;
    margin-bottom: 15px;
}

.topnav button {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #2e65fa;
    outline: none;
    border: none;
}

.topnav button:hover {
    background-color: #4400ff;
    color: rgb(250, 250, 250);
}

#example {
    color: white;
}

.vertical-center {
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#version {
    text-align: center;
}

.para {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
    font-family:alphaEcho;
    text-align: center;
    font-size: 55px;
}

.code {
    font-size: 20px;
    margin-top: 35px;
    font-weight: bold;
    
}

li {
    margin-left: 15px;
    list-style-type: square
}

.button {
    list-style-type: none;
}

.subli {
    margin-left: 55px;
}

.subsubli {
    margin-top: 10px;
    margin-left: 100px;
}

.subcode {
    font-size: 20px;
    margin-top: 5px;
}

.subsubcode {
    font-size: 18px;
    margin-top: 5px;
}

.description {
    margin-top: 5px;
    margin-left: 23px;
    font-size: 17px;
    font-weight: 549.8;
}

.subdescription {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 17px
}

.subheading {
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: 10px;
}

#downloadbtn-installer {
    background-color: #d400ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 14px;
    border:6px solid #d400ff   
}

#downloadbtn-installer:hover {
    background-color: #ff00ff;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#downloadbtn-zip {
    background-color: #d400ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 14px;
    border:6px solid #d400ff   
}

.version {
    font-size: 28px;
    text-align: center;
}

#downloadbtn-zip:hover {
    background-color: #ea00ff;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#button {
    background-color: #d400ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 45%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 14px;
    border:6px solid #d400ff    
}

#button:hover {
    background-color: #ea00ff;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#ec {
    resize: none;
    background: #282c34;
    text-align: left;
    text-decoration: none;
    flex: 5;
    font-size: 16px;
    justify-content: center;
    border: 1px solid white;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: auto;
    width: 65%;
    padding: 5px;
    justify-content: center;
}

#example {
    float: right;
}

.sidenav {
    height: 92%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
    overflow-y: scroll;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    margin-bottom: -1px;
    background: none;
    border: none;
}


#down-scroller {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #d400ff;
    color: white;
    cursor: pointer;
    padding: 18px;
    border-radius: 26px;
    border:5px round #d400ff;
    width:53px
}

#down-scroller:hover {
    background-color: #ea00ff;
}

.home-sub-head {
    font-size: 30px;
    text-align: center;
}

.home-para {
    text-align: center;
    font-size: 20px
}

#up-scroller {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #d400ff;
    color: white;
    cursor: pointer;
    padding: 18px;
    border-radius: 26px;
    border:5px round #d400ff;
    width:53px
}

#up-scroller:hover {
    background-color: #ea00ff;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav input:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

#dwnldbtnzp {
    justify-content: center;
    margin-left: 50px;
}

.downloadbuttons {
    display: flex;
    justify-content: center;
}

#dwnldinst {
    justify-content: center;
    margin-left: -30px;
}

#hm-dw-btn {
    background-color: #d400ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex: 6;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    justify-content: center;
    margin-left: 32%;
    margin: auto;
    width: 15%;
    padding: 10px;
    border-radius: 14px;
    border:6px solid #d400ff
}

.python {
    width: 50%;
    margin: auto;
    padding: 5px;
    font-size: 15px
}

.center {
    margin: auto;
    width: 15%;
    padding: 5px;
}

#hm-dw-btn:hover {
    background-color: #ea00ff;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}